.body {
    background: #A9A9A9;
    background-size: 400px;
    color: black;
    /* height: 100%;
    width: 100%; */
    text-align: center;
    padding: 5px;
    font-family: Tahoma, Helvetica, serif;
}


.img {
    height: 70px;
    margin-top: 10px;
}

.top {
    color: black;
    padding: 6px 15px;
    border-width: 2px;
    margin: 6px 6px 0 6px;
    background-color: rgba(255, 255, 255, .9);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.options {
    color: black;
    padding: 6px 15px;
    border-width: 2px;
    margin: 0 6px 6px 6px;
    background-color: rgba(255, 255, 255, .8);
    height: 290px;
    width: 250px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.p {
    font-size: 24px;
}

.h3 {
    font-size: 16px;
}

.hr {
    width: 298px;
    text-shadow: none;
}

.form {
    text-align: left;
    padding: 0 40px;
}

#submitPopUp {
    /* margin-left: 65px; */
    border: none;
    background-color: rgb(39, 192, 12);
    color: rgb(0, 0, 0);
    padding: 5px 15px 5px 15px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

#submitPopUp:hover {
    background-color: black;
    color: white;
}

.form {
    font-size: 16px;
}

#otherInput {
    margin-left: 20px;
    width: 155px;
    margin-top: 3px;
}